body{
  background-color: lightgreen;
}

#header{
  height: 100px;
  margin-top: 50px;
}
.wrapper{
  width: 70%;
  min-height: 250px;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 5px, 5px, 2px;
}

.email{
  margin-bottom: 35px;
}
.email *{
  margin: 5px 0;
}

.game > .row{
  min-height: 100px;
  margin: 20px 0;
}

#giocoUser{
  padding-top: 50px;
}

#resultado{
  font-size: 48px;
  padding-bottom: 30px;
}


#email{
  min-width: 300px;
}

#emailMessage{
  color: red;
}


#game, #computerPlays, #ok, #userPlays, #adessoMessage, #gioca, #reinizia{
  display: none;
}
